services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    networks:
      - participium-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - ./frontend/.env
    environment:
      - VITE_API_ENDPOINT=http://localhost:3000/api/v1
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - participium-net

networks:
  participium-net:
    driver: bridge
