#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

main {
  flex: 1;
  display: grid;
  place-items: center;
  background-color: #f7f9fb;
}