#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.appContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}